.navbar {
  color: white !important;
  background-color: #47535e !important;
}
.nav-link {
  color: white !important;
  background-color: #47535e !important;
  font-size: 20px;
  font-weight: bold;
}
